{% extends "layout.html" %} {% block body %}

<form style="margin: 25px" action="#" method="post">

  <div class="register-title-div">
    <h2 class="register-title">Crear nueva familia animal</h2>
  </div>

  <div class="form-group row" style="margin: 20px">
    <label for="name" class="col-sm-2 col-form-label">Familia</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        name="family"
        id="family_id"
        placeholder="Ingrese el nombre de la familia animal"
      />
    </div>
  </div>
  <div class="form-group row" style="margin: 20px">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-dark register-btn">Registrar</button>
    </div>
  </div>
</form>
{% endblock %}
