{% extends "layout.html" %} {% block body %}
<div class="register-title-div">
  <h2 class="register-title">Crear un nuevo registro</h2>
</div>

<form style="margin: 25px" action="#" method="post">

  <div><h3>Especimen</h3></div>

  <div class="form-group row" style="margin: 20px">
    <label for="person_id" class="col-sm-2 col-form-label ">Persona que recibe el ejemplar</label>
    <div class="col-sm-10">
      <select class="form-control" 
        id="person_id" 
        name="person" 
        data-live-search="true"
      >
        <option value="" selected disabled hidden>Nada seleccionado</option>
        {% for i in persons%}
        <option value="{{i.id}}">{{i.name}} {{i.first_lastname}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

<!-- Family and specie -->
  <div class="form-group row" style="margin: 20px">
    <label for="type_id" class="col-sm-2 col-form-label">Familia animal</label>
    <div class="col-sm-10">
      <select class="form-control" 
        id="type_id" 
        name="type" 
        onchange="update_family(this.value)" 
        data-live-search="true"
      >
        <option value="" selected disabled hidden>Nada seleccionado</option>
        {% for i in types%}
        <option value="{{i.id}}">{{i.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group row" style="margin: 20px">
    <label for="species_id" class="col-sm-2 col-form-label">Especie</label>
    <div class="col-sm-10">
      <select class="form-control" 
        id="species_id" 
        name="specie"
        onchange="set_scientific_name(this.value)"  
        data-live-search="true"
        >
          <option value="" selected disabled hidden>Nada seleccionado</option>
      </select>
    </div>
  </div>


  <div class="form-group row" style="margin: 20px">
    <label for="sname_id" class="col-sm-2 col-form-label">Nombre cientifico</label>
    <div class="col-sm-10">
      <select class="form-control" id="sname_id" name="sname">
      </select>
    </div>
  </div>


  <div class="form-group row" style="margin: 20px">
    <label for="gender_id" class="col-sm-2 col-form-label">Genero del animal</label>
    <div class="col-sm-10">
      <select class="form-control" id="gender_id" name="gender" data-live-search="true">
        <option value="" selected disabled hidden>Nada seleccionado</option>
        {% for i in genders%}
        <option value="{{i.id}}">{{i.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group row" style="margin: 20px">
    <label for="age_id" class="col-sm-2 col-form-label">Edad del animal</label>
    <div class="col-sm-10">
      <select class="form-control" id="age_id" name="age" data-live-search="true">
        <option value="" selected disabled hidden>Nada seleccionado</option>
        {% for i in ages%}
        <option value="{{i.id}}">{{i.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group row" style="margin: 20px">
    <label for="destination_id" class="col-sm-2 col-form-label">Destino</label>
    <div class="col-sm-10">
      <select class="form-control" id="destination_id" name="destination" data-live-search="true">
        <option value="" selected disabled hidden>Nada seleccionado</option>
        {% for i in destinations%}
        <option value="{{i.id}}">{{i.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group row" style="margin: 20px">
    <label for="condition" class="col-sm-2 col-form-label">Condicion</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        name="condition"
        id="condition"
        placeholder="Descripcion acerca el estado del animal"
      />
    </div>
  </div>
  <div class="form-group row" style="margin: 20px">
    <label for="weigth" class="col-sm-2 col-form-label">Peso</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        name="weigth"
        id="weigth"
        placeholder="Peso del ejemplar"
      />
    </div>
  </div>
  <div class="form-group row" style="margin: 20px">
    <label for="size_id" class="col-sm-2 col-form-label">Tamano</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        name="size"
        id="size_id"
        placeholder="Tamano del ejemplar"
      />
    </div>
  </div>

  <div style="margin-top: 75px">
    <h3>Recepcion</h3>
  </div>

  <div class="form-group row" style="margin: 20px">
    <label for="deliver_person" class="col-sm-2 col-form-label"
      >Quien entrego el animal</label
    >
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        name="deliverer"
        id="deliver_person"
        placeholder="Nombre"
      />
    </div>
  </div>

  <!-- Location -->
  <div class="form-group row" style="margin: 20px">
    <label for="state_id" class="col-sm-2 col-form-label">Estado</label>
    <div class="col-sm-10">
      <select class="form-control" 
        id="state_id" 
        name="state" 
        data-live-search="true" 
        onchange="update_state(this.value)" 
      >
        {% for i in states%}
        <option value="{{i.id}}">{{i.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group row" style="margin: 20px">
    <label for="city_id" class="col-sm-2 col-form-label">Ciudad</label>
    <div class="col-sm-10">
      <select class="form-control" 
        id="city_id" 
        name="city" 
        data-live-search="true" 
        onchange="update_neighborhood(this.value)"
      >
      {% for i in cities%}
      <option value="{{i.id}}">{{i.name}}</option>
      {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group row" style="margin: 20px">
    <label for="neighborhood_id" class="col-sm-2 col-form-label">Colonia</label>
    <div class="col-sm-10">
      <select class="form-control" id="neighborhood_id" name="neighborhood" data-live-search="true" >
        {% for i in neig%}
        <option value="{{i.id}}">{{i.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <!--  -->

  <div class="form-group row" style="margin: 30px; margin-top: 50px;">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-dark btn-lg float-right register-btn">Registrar</button>
    </div>
  </div>
</form>

<script language="javascript" type="text/javascript">
  function set_scientific_name(value ) {
    // console.log("Updating animal sname")
    const species = JSON.parse('{{species|tojson}}');
    $("#sname_id").empty();
    $("#sname_id").append("<option value=''>"+species[value].scientific_name+"</option>");

  }

  function update_family(value ) {
    console.log("Updating animal families")
    const species = JSON.parse('{{species|tojson}}');
    $("#species_id").empty();
    $("#species_id").append("<option value='' selected disabled hidden>Seleccione de las familias filtradas</option>");
    for (let i= 0; i< species.length; i++) {
      if ( species[i].animal_type.id == value){
        $("#species_id").append("<option value=\""+species[i].id+"\">"+species[i].common_name+"</option>");

      }
    }
  }

  function update_state(value){
    // console.log("Updating state cities")
    const cities = JSON.parse('{{cities|tojson}}');
    $("#city_id").empty();
    for (let i= 0; i< cities.length; i++) {
      if ( cities[i].state.id == value){
        $("#city_id").append("<option value=\""+cities[i].id+"\">"+cities[i].name+"</option>");
      }
    }
  }

  function update_neighborhood(value) {
    // console.log("Updating city's neighborhoods");
    const neighborhood = JSON.parse('{{neig|tojson}}');
    $("#neighborhood_id").empty();
    for (let i= 0; i< neighborhood.length; i++) {
      if ( neighborhood[i].municipality.id == value){
        $("#neighborhood_id").append("<option value=\""+neighborhood[i].id+"\">"+neighborhood[i].name+"</option>");
      }
    }
  }

</script>
<script>
$(document).ready(function (){
    let yucatan = 31;
    let merida = 31050;

    let stateId = document.getElementById('state_id');
    let cityId = document.getElementById('city_id');

    for (var i,j = 0; i=stateId.options[j]; j++){
      if(i.value == yucatan){
        stateId.selectedIndex = j;
        break;
      }
    }
    for (var i,j = 0; i=cityId.options[j]; j++){
      if(i.value == merida){
        cityId.selectedIndex = j;
        break;
      }
    }
  });
</script>
{% endblock %}
