{% extends "layout.html" %}

{% block body %}
<h1>{{message}}</h1>
<div class="row row-cols-1 row-cols-md-4 g-4">
  {% for i in specimens%}
  <div class="col">
    <div class="card" style="width: 18rem;">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <!-- <option value="{{i.folio}}">{{i.folio}}</option> -->
          <h5 class="card-title">Folio - {{i.folio}} </h5>
          
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{i.person.name}} {{i.person.first_lastname}}</li>
          <li class="list-group-item">Tipo : {{i.animalType.name}}</li>
          <li class="list-group-item">Especie : {{i.species.common_name}} </li>
          <li class="list-group-item">Genero : {{i.gender.name}}</li>
          <li class="list-group-item">Edad : {{i.age.name}}</li>
          <li class="list-group-item">Destino : {{i.destination.name}}</li>
          <li class="list-group-item">Peso: {{i.weigth}}kg, Tamano : {{i.size}}</li>
        </ul>
        <div class="card-body">
          <p class="card-text">{{i.condition}}</p>
          <a href="#" class="btn btn-primary">Seguimiento</a>
          <a href="#" class="btn btn-primary" style="margin-left: 50px">Destino</a>
        </div>
    </div>
  </div>
  {% endfor %}
  <!-- <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div> -->
</div>
{% endblock %}