.register-btn {
    background-color: green !important;
    box-shadow: 3px 8px 8px 0 rgba(0, 0, 0, 0.6) !important;
    border: green;
    font-size: 1.25rem;
}
.register-btn:hover {
    background-color: #0059A8 !important;
}
